<h1 class="mt-5">Selectores Anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <!-- Región o continentes -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control" formControlName="region"> 
                <option value="">-- Selecciones un Continente --</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{ region | titlecase }}</option>
            </select>
        </div>
    </div>

    <!-- Paises -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">País:</label>
            <select class="form-control" formControlName="pais"> 
                <option value="">-- Selecciones un País --</option>
                <option *ngFor="let pais of paisesByRegion" [value]="pais.cca2">{{ pais.name.common | titlecase }}</option>
            </select>
        </div>
    </div>

     <!-- Fronteras -->
     <div class="row mb-3">
        <div class="col">
            <label class="form-label">Fronteras:</label>
            <select class="form-control" formControlName="frontera"> 
                <option value="">-- Seleccione el país fronterizo --</option>
                <option *ngFor="let pais of paisesFronterizos" [value]="pais">{{ pais | titlecase }}</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">Seleccionar</button>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>{{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>